
; this is only the RIS relevant part of your typically large smb.conf

[global]
   guest account = root
   null passwords = true

[REMINST]
   path = /home/tftp
   browseable = yes
   read only = yes
   writeable = no
   guest ok = yes

